$defaultPadding: 5px;
$defaultMargin: 5px;
$borderColor: black;

.list-main {
  margin: 10px 0;

  ul {
    border: solid 1px $borderColor;
    list-style-type: none;
    overflow: hidden;
    padding: $defaultPadding;
    margin: 0;
  }
  ul.vertical {
    overflow-y: scroll;
  }
  li {
    cursor: move;
  }
  li.vertical {
    margin-bottom: $defaultMargin;
  }
  ul.horizontal {
    overflow-x: hidden;
    white-space: nowrap;
  }
  li.horizontal {
    display: inline-block;
    list-style-type: none;
    margin-left: $defaultMargin;
  }
}

.actions {
  margin: 10px 0;
  text-align: center;

  button {
    background: transparent;
    border: 1px solid $borderColor;
    padding: $defaultPadding;
  }
  input {
    background: transparent;
    border: 1px solid $borderColor;
    padding: $defaultPadding;
  }
}
